/*-_______________________________________ ZEROING _______________________________________*/

*{
	margin: 0;
	padding: 0;
}

/*_______________________________________ CONNECTION FONTS _______________________________________*/

/ @font-face kit by Fonts2u (http://www.fonts2u.com) /
 @font-face {
   font-family:'Open Sans Light';
   src:url("../fonts/OpenSans-Light.eot?") format("eot"),
   url("../fonts/OpenSans-Light.woff") format("woff"),
   url("../fonts/OpenSans-Light.ttf") format("truetype"),
   url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
   font-weight:normal;
   font-style:normal;
 }

 / @font-face kit by Fonts2u (http://www.fonts2u.com) /
 @font-face {
   font-family:'Open Sans Extrabold';
   src:url("../fonts/OpenSans-ExtraBold.eot?") format("eot"),
   url("../fonts/OpenSans-ExtraBold.woff") format("woff"),
   url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"),
   url("../fonts/OpenSans-ExtraBold.svg#OpenSans-Extrabold") format("svg");
   font-weight:normal;
   font-style:normal;
 }



@font-face {
    font-family: 'league_gothiccondensed_italic';
    src: url('leaguegothic-condenseditalic-webfont.eot');
    src: url('leaguegothic-condenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condenseditalic-webfont.woff2') format('woff2'),
         url('leaguegothic-condenseditalic-webfont.woff') format('woff'),
         url('leaguegothic-condenseditalic-webfont.ttf') format('truetype'),
         url('leaguegothic-condenseditalic-webfont.svg#league_gothiccondensed_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_gothicregular';
    src: url('league-gothic.regular-webfont.eot');
    src: url('league-gothic.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('league-gothic.regular-webfont.woff2') format('woff2'),
         url('league-gothic.regular-webfont.woff') format('woff'),
         url('league-gothic.regular-webfont.ttf') format('truetype'),
         url('league-gothic.regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*_______________________________________ WRAPPER _______________________________________*/

.wrapper{
	height: 2525px;
	width: 2400px;	
}

/*_______________________________________ HEADER _______________________________________*/
.header_top{
	background: url(../../img/head_main.jpg);
	background-repeat: none;
	height: 516px;
	width: 2400px;
	position: relative;
}

	/*.pingbuller{
		display: inline-block;
		margin: 30px auto;

	}*/

/*_______________ MENU _____________*/
/*_________ HOME ________*/
	.pingbuller{
		display: block;
		margin: 0 auto;
		padding-top: 71px;
	}

	nav{				
		position: absolute;
		top: 140px;
    	left: 1078px;
		z-index: 40;		
	}	

	ul{

		display: block;
		margin: 0;
		padding: 0;
		list-style: none;						
	}
	nav > ul{
		
		top:200px;
		left: 10px;
	}

	.clearfix:after{
		display: block;
		content: '';
		clear: both;
		float: none;		 		
	}

	
	nav > ul > li{
		float: left;		
		width: 30px;
		text-align: center;
		font-size: 15px;
		line-height: 30px;		
	}
	
	nav > ul > li > a {
	display: block;
    color: white;    
    width: 245px;
    height: 50px;
    text-align: center;
    font-size: 20px;    
    font-family: 'league_gothiccondensed_italic', 'league_gothicregular', fantasy; 	   	
	}

/*_________ menu list ________*/

	nav > ul > li > ul > li{
		display: none;				
	}

	nav > ul > li > ul > li > a{
		text-decoration: none;
		color: #d5d5d5;		
		font-family: 'league_gothiccondensed_italic', 'league_gothicregular', fantasy;
	}	

	nav > ul >li:hover > a{
		width: 245px;
		height: 48px;
		background: rgba(31, 19, 41, 0.6);
		border-left: 1px solid rgba(31, 19, 41, 1);
		border-right: 1px solid rgba(31, 19, 41, 1);
		border-top: 1px solid rgba(31, 19, 41, 1);
		border-radius: 8px 8px 0 0;		
		/*font-family: 'league_gothiccondensed_italic', 'league_gothicregular', fantasy; */	
	}
	
	nav > ul > li:hover > ul > li{ /* или visobility: hover*/
	  	display: block; 
    	/*transition-delay: 0.9s;*/
	}

	nav > ul > li:hover > ul > li:last-child > a{
		border-radius: 0 0 8px 8px;
	}

	nav > ul > li:hover > ul > li> a{
		display: inline-block;
		width: 245px;
    	height: 40px;
    	background: rgba(31, 19, 41, 0.6);
    	border: 1px solid rgba(31, 19, 41, 1);    	 
	}

	nav > ul > li:hover > .submenu > li:hover > a{		
		display: inline-block;
		width: 245px;
    	height: 39px;
    	background: rgba(31, 19, 41, 0.9);
    	border-bottom: 3px solid rgba(220, 199, 232, 1);
    	transition-delay: 0.2s;  
	}

	nav > ul > li:hover > ul > li:last-child:hover > a{
		border-bottom: none;
		height: 40px;
	}	

.header_bottom{
	height: 599px;
	width: 2400px;
	border-top: 1px solid #332340;
	border-bottom:	1px solid #17141f; 
	box-shadow: 0 0 15px #17141f;
	margin-bottom: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6e4b73+0,73507a+0,75517f+1,754e83+1,754f80+2,754e83+3,754f80+5,734d80+10,6e4c7e+11,6e4c7e+15,6c4b78+16,6c4b78+20,6a4976+20,6a4976+25,664572+28,664572+32,644370+34,5f436b+35,5d4169+42,573b63+48,573c5f+52,52385b+55,4f3a5b+57,4d3557+60,4d3557+65,483354+67,493153+69,47304d+70,47304d+74,40304b+76,3e2e49+78,3e2e49+82,3c2c47+83,3c2d42+87,38293e+91,36273e+99,32263c+100 */
background: #6e4b73; /* Old browsers */
background: -moz-linear-gradient(top,  #6e4b73 0%, #73507a 0%, #75517f 1%, #754e83 1%, #754f80 2%, #754e83 3%, #754f80 5%, #734d80 10%, #6e4c7e 11%, #6e4c7e 15%, #6c4b78 16%, #6c4b78 20%, #6a4976 20%, #6a4976 25%, #664572 28%, #664572 32%, #644370 34%, #5f436b 35%, #5d4169 42%, #573b63 48%, #573c5f 52%, #52385b 55%, #4f3a5b 57%, #4d3557 60%, #4d3557 65%, #483354 67%, #493153 69%, #47304d 70%, #47304d 74%, #40304b 76%, #3e2e49 78%, #3e2e49 82%, #3c2c47 83%, #3c2d42 87%, #38293e 91%, #36273e 99%, #32263c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #6e4b73 0%,#73507a 0%,#75517f 1%,#754e83 1%,#754f80 2%,#754e83 3%,#754f80 5%,#734d80 10%,#6e4c7e 11%,#6e4c7e 15%,#6c4b78 16%,#6c4b78 20%,#6a4976 20%,#6a4976 25%,#664572 28%,#664572 32%,#644370 34%,#5f436b 35%,#5d4169 42%,#573b63 48%,#573c5f 52%,#52385b 55%,#4f3a5b 57%,#4d3557 60%,#4d3557 65%,#483354 67%,#493153 69%,#47304d 70%,#47304d 74%,#40304b 76%,#3e2e49 78%,#3e2e49 82%,#3c2c47 83%,#3c2d42 87%,#38293e 91%,#36273e 99%,#32263c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #6e4b73 0%,#73507a 0%,#75517f 1%,#754e83 1%,#754f80 2%,#754e83 3%,#754f80 5%,#734d80 10%,#6e4c7e 11%,#6e4c7e 15%,#6c4b78 16%,#6c4b78 20%,#6a4976 20%,#6a4976 25%,#664572 28%,#664572 32%,#644370 34%,#5f436b 35%,#5d4169 42%,#573b63 48%,#573c5f 52%,#52385b 55%,#4f3a5b 57%,#4d3557 60%,#4d3557 65%,#483354 67%,#493153 69%,#47304d 70%,#47304d 74%,#40304b 76%,#3e2e49 78%,#3e2e49 82%,#3c2c47 83%,#3c2d42 87%,#38293e 91%,#36273e 99%,#32263c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e4b73', endColorstr='#32263c',GradientType=0 ); /* IE6-9 */

}

.clearfix:after{
	display: block;
	content: '';
	clear: both;
	float: none;		 		
}

.header_bottom > ul {
	margin-top: 73px;
	padding-left: 15px;
}

.header_bottom > ul > li {
	width: 270px;
	height: 150px;
    margin: 4px auto;
	color: #fffbff;
	text-overflow: clip;
    overflow: hidden;
    margin-bottom: 10px;
}  

.header_bottom > ul > li > a{
	color: #fffbff;
	float: right;
	text-decoration: none;    
    font-size: 14px;
    font-family: 'league_gothiccondensed_italic', 'league_gothicregular', fantasy; 	
}

.header_bottom > ul > li > a:hover{
	color: dac5e4;
}

.header_bottom > ul > li > h3 {
	 display: inline-block;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-stretch: ultra-condensed;
    transform: scaleY(2);
    padding-left: 22px;
    line-height: 22px;
    font-family: 'league_gothiccondensed_italic', 'league_gothicregular', fantasy;
}
.header_bottom > ul > li > p {
	padding-left: 54px;
	display: inline-block;
    margin: 0 0 16px;
    line-height: 25px;
    font-family: 'Open Sans Light', 'Open Sans Extrabold', sans-serif; 
}

.header_bottom > ul > li >.settings{
	display: inline-block;
	background: url(../../img/icons.png) -1px 0 no-repeat;
	width: 25px;
	height: 25px;
	float: left;
	transform: scaleY(1);

}

.header_bottom > ul > li >.speaking{
	display: inline-block;
	background: url(../../img/icons.png) -28px 0 no-repeat;
	width: 27px;
	height: 25px;
	float: left;
	transform: scaleY(1);	
}

.header_bottom > ul > li >.music{
	display: inline-block;
	background: url(../../img/icons.png) -56px 0 no-repeat;
	width: 25px;
	height: 25px;
	float: left;
	transform: scaleY(1);
}

/*_______________________________________ NAIN _______________________________________*/

.main{
	
}

.main_top{
	height: 715px;
    width: 2400px;
    background: #fafafa;
    padding-top: 60px;
}

.article1{
	height: 260px;
	width: 260px;
	background: white;
	margin: 0 auto;
	position: relative;
	padding-top: 19px;
	padding-right: 38px;
	padding-bottom: 10px;		
}

.slider_min > .article1_wrapper{
	margin-bottom: 15px;
}

.face_img{
	position: absolute;
	float: left;
	left: -12px;
    top: 10px;
}

.article1 > .slides > .overflow > .inner > p{	
	margin-bottom: 5px;
	padding-left: 40px;
}

.format_font1{
	font-size: 12px;
	transform: scaleY(2);
	/*font-weight: bold;*/
	line-height: 25px;
	font-family: 'league_gothiccondensed_italic', 'league_gothicregular', fantasy;	
}

.article1_content{
	padding-top: 4px;
    word-wrap: break-word;
    line-height: 22px;
    font-family: 'Open Sans Light', 'Open Sans Extrabold', sans-serif; 
}

.article1_wrapper{
	height: 220px;
	text-overflow:clip;
	overflow:hidden;
	padding-left: 50px;
}

.color_stars{
	color: #dbc1e6;
}

.article2{
	height: 260px;
    width: 278px;
    background: #fafafa;
    margin: 98px auto;

	/*position: relative;
	padding-top: 19px;
	padding-right: 38px;
	padding-bottom: 10px;*/	
}

.img_list_el_1{
	background: url(../../img/background.jpg) -51px -78px no-repeat;
    border-radius: 25px;
    height: 45px;
    width: 45px;
    float: left;
}

.img_list_el_2{
	background: url(../../img/background.jpg) -60px -80px no-repeat;
    border-radius: 25px;
    height: 45px;
    width: 45px;
    float: left;   
}

.img_list_el_3{
	background: url(../../img/background.jpg) -100px -15px no-repeat;
    border-radius: 25px;
    height: 45px;
    width: 45px;
    float: left;
}

.article2_title{
	color: #3f3f3f;
	/*font-weight: bold;*/
	transform: scaleY(2);
	font-size: 15px;
	margin-bottom: 23px;
	font-family: 'league_gothiccondensed_italic', 'league_gothicregular', fantasy;	
}

.title_article{
	width: 190px;
    height: 20px;
    text-overflow: clip;
    overflow: hidden;
    margin-left: 20px;
    color: #3f3f3f;
    font-weight: 800;
    margin-bottom: 9px;
    margin-left: 64px;
    font-family: 'Open Sans Light', 'Open Sans Extrabold', sans-serif; 
}

.content_title_article{
	width: 220px;
    height: 20px;
    text-overflow: clip;
    overflow: hidden;
    margin-left: 20px;
    color: #3f3f3f;
    margin-bottom: 20px;
    margin-left: 64px;
    font-family: 'Open Sans Light', 'Open Sans Extrabold', sans-serif; 
}

.read_more{
	float: right;
    color: #3f3f3f;
    font-weight: normal;
    transform: scaleY(2);
    font-size: 12px;
    text-decoration: none;
    font-family: 'league_gothiccondensed_italic', 'league_gothicregular', fantasy;	    
}

section.article2 > a.read_more:hover{
	color: #a1a1a1;
}



.main_bottom{
	height: 424px;
	width: 2400px;	
	border-top: 1px solid #ececec;
	box-shadow: 0 0 5px #ececec;
	background: #fafafa;

}

.labeles{
	height: 200px;
	width: 215px;
    margin: 0 auto;
    padding-top: 53px;
    padding-left: 10px;
}

.labeles > ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.labeles > ul > li{
	float: left;
}

.label_1{
	background: url(../../img/logos.png) 0 0 no-repeat;
	height: 61px;
    width: 68px;
	display: inline-block;
	margin-bottom: 65px;
	margin-right: 58px;
}

.label_2{
	background: url(../../img/logos.png) -70px 0 no-repeat;
	height: 61px;
    width: 72px;
	display: inline-block;
	margin-bottom: 65px;
}

.label_3{
	background: url(../../img/logos.png) -144px 0 no-repeat;
    height: 61px;
    width: 65px;
	display: inline-block;
	margin-left: 11px;
	margin-right: 63px;
	margin-bottom: 46px;
}

.label_4{
	background: url(../../img/logos.png) -208px 0 no-repeat;
	height: 61px;
    width: 52px;
	display: inline-block;
	
}

.label_5{
	background: url(../../img/logos.png) -260px 0 no-repeat;
	height: 61px;
    width: 104px;
	display: inline-block;
	margin-left: -16px;
	margin-right: 56px;
}

.label_6{
	background: url(../../img/logos.png) -364px 0 no-repeat;
    height: 70px;
    width: 81px;
	display: inline-block;
	margin-right: -20px;
}

/*_______________________________________ FOOTER ______________________________________*/

footer{
	
}

.menu_footer{
		
}

.hide_elements{
	visibility: hidden;
	height: 0px;	
}

.designed_by{
	background: url(../../img/footer.jpg) 0px -1160px no-repeat;
	height: 200px;
	width: 2400px;	
}

.designed{
	color: #f8f2fe;
	text-align: center;
	font-size: 13px;
    margin-top: 42px;
}

.designed > span{
	font-weight: bold;
}
.hide_320{
	visibility: hidden;
	height: 0px;
}
